@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Light.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Arial";
    cursor: url(../IMG/cursor.cur), auto;
}

p {
    margin: 0;
}

a {
    cursor: url(../IMG/cursorr.cur), auto;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 28px;
}

hr {
    border: none;
    border-top: 1px solid #e4e4ec;
    margin: 32px 0 31px;
}

figure {
    margin: 0;
}

header {
    padding-top: 56px;
}

.top-line {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f1f56;
    z-index: 4;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.header-border {
    width: 100%;
    padding: 16px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
}

.header-line,
.social {
    column-gap: 25px;
}

.header-line a {
    transition: all .5s ease;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
    color: #b1b1d2;
    text-decoration: none;
}

.header-line a:hover {
    color: #fd8300;
}

.social a {
    display: block;
    background: url(../IMG/sprite.png) no-repeat;
    transition: all .5s ease;
}

a.fb {
    width: 11px;
    height: 19px;
    background-position: -2px -2px;
}

a.tw {
    width: 19px;
    height: 18px;
    background-position: -14px -2px;
}

a.inst {
    width: 20px;
    height: 20px;
    background-position: -35px -3px;
}

a.fb:hover {
    background-position: -2px -22px;
}

a.tw:hover {
    background-position: -14px -23px;
}

a.inst:hover {
    background-position: -35px -23px;
}

.header-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header-social {
    align-items: center;
    padding: 31px 0;
}

.phone,
.email,
.skype {
    position: relative;
}

.phone::before,
.email::before,
.skype::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    background: url(../IMG/sprite.png);
}

.phone::before {
    width: 17px;
    height: 17px;
    background-position: -55px -2px;
}

.email::before {
    width: 18px;
    height: 13px;
    background-position: -73px -2px;
}

.skype::before {
    width: 19px;
    height: 19px;
    background-position: -92px -2px;
}

.mail,
.mailstyle {
    position: relative;
    padding-left: 15px;
}

.mail::before {
    content: "";
    position: absolute;
    top: 0;
    left: -28px;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}

.call-number a,
.number {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
}

.mail p:first-child,
.mailstyle p:first-child {
    text-decoration: underline;
}

.mail a,
.office a:last-child,
.mailstyle a,
.cta a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
}

.cta a {
    transition: all 1s ease;
    font-weight: bold;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    padding: 12px 28px;
    display: inline-block;
}

.cta a:hover {
    transform: scaleX(1.1) scaleY(1.2);
    color: #fff;
    background-color: #fd8300;
}

.offer_of_month {
    padding: 60px 0 45px;
    background: url(../IMG/rectangle.png) no-repeat center/cover;
}

.offer_of_month_discription {
    text-align: center;
}

.offer {
    margin: 0;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.offer2 {
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    padding-top: 12px;
    padding-bottom: 17px;
}

.cost {
    font-size: 24px;
    margin: 0;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.main-discription {
    padding: 37px 0 47px;
    column-gap: 27px;
}

.about-company p {
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
}

.about-company p:nth-child(2) {
    margin-bottom: 22px;
}

.about-company p:nth-child(3) {
    padding-bottom: 25px;
}

.about-company p:nth-child(4) {
    margin-bottom: 25px;
}

.about-company a,
.price_footer a {
    transition: all 1s ease-out;
    display: inline-block;
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}

.about-company a:hover,
.price_footer a:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px #ffbb72);
}

.projects h2 {
    padding-bottom: 24px;
}

.popular-projects {
    column-gap: 28px;
}

.menuchoose {
    width: 100%;
}

.menuchoose p {
    padding: 11px 16px;
    background-color: #1f1f56;
    font-size: 16px;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.sidebar a {
    position: relative;
    padding: 11px 16px;
    display: block;
    background-color: #e4e4ec;
    font-size: 14px;
    line-height: 1.7em;
    color: #25252c;
    transition: all .5s ease-out;
}

.arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transition: all .5s ease;
    transform: translateY(-50%) rotate(-45deg);
}

.arrow:hover {
    background-color: #fd8300;
    color: #ffffff;
}

.navigation {
    position: sticky;
    top: 55px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.sidebar li:hover>.arrow::after {
    border-color: #fff;
    transform: translateY(-50%) rotate(45deg);
}

.sidebar li+li>a {
    border-top: 1px solid #cdcddd;
}


.submenu {
    visibility: hidden;
    max-height: 0;
}

.sidebar li:hover>.submenu {
    visibility: visible;
    max-height: 1000px;
    transition: max-height 1s ease;
}

.submenu li>a {
    padding: 18px 31px;
    color: #666666;
    border: none;
}

.submenu a:hover {
    background-color: #cecedd;
}

.house {
    position: relative;
    transition: all 1s ease-in-out;
}

.house:hover {
    transform: scale(1.1);
    border-radius: 8px;
}

.house a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.house a:hover~h3 {
    text-decoration: underline;
}

.house h3 {
    padding: 13px 0 9px 0;
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
}

.house p {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
}

.footer-top {
    background-color: #ededf5;
    padding: 42px 0 55px 0;
}

.contactmail {
    display: flex;
    column-gap: 60px;
}

.mailstyle {
    padding-left: 26px;
}

.bottom-list a {
    font-size: 14px;
    line-height: 1.9em;
    color: #666666;
    transition: all .5s ease;
}

.bottom-list a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.footer-bottom {
    background-color: #dcdce6;
    padding: 18px 0 15px 0;
}

.footer-bottom p {
    text-align: center;
    color: #9999a6;
}

.price_header h2 {
    padding-top: 40px;
    padding-bottom: 22px;
    color: #24242b;
    font-weight: 700;
}

.pstyle {
    margin-bottom: 26px;
}

.price p,
.price_footer p {
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
}

.price_main table {
    width: 100%;
    padding-top: 26px;
    border-collapse: collapse;
}

.price_main thead {
    border-radius: 3px;
    background-color: #1f1f56;
}

.price_main thead th:first-child {
    border-radius: 3px 0 0 0;
}

.price_main thead th:last-child {
    border-radius: 0 3px 0 0;
}

.price_main thead th,
.price_main tbody td {
    padding: 11px 21px;
    font-size: 14px;
    line-height: 1.7em;
    text-align: left;
    color: #ffffff;
}

.price_main tbody td {
    color: #666666;
    font-family: "Arial";
}

.price_main tbody tr {
    background-color: #e4e4ec;
}

.price_main tbody tr:hover>td {
    background-color: #fd8300;
    color: #ffffff;
}

.price_main tbody tr+tr {
    border-top: 1px solid #cdcddd;
}

.price_main thead th:last-child,
.price_main tbody td:last-child {
    text-align: right;
}

.price_main tbody tr:last-child>td:first-child {
    border-radius: 0 0 0 3px;
}

.price_main tbody tr:last-child>td:last-child {
    border-radius: 0 0 3px;
}

.price_footer p:first-child {
    padding-top: 27px;
}

.price_footer p:last-child {
    width: 45%;
    padding-top: 27px;
}

.price_footer a {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.7em;
}

.hrstyle {
    margin: 33px 0 31px 0;
}

.projects-pad {
    padding-bottom: 46px;
}

.concttop {
    padding-bottom: 35px;
}

.concttop h2 {
    padding-top: 41px;
    padding-bottom: 27px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.office p:first-child,
.consultatia p:first-child,
.rekvisits p:first-child {
    font-size: 14px;
    line-height: 1.7em;
    color: #24242b;
    padding-bottom: 19px;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.office p:nth-child(2) {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    padding-bottom: 14px;
}

.office a:first-child {
    margin-top: 14px;
    margin-bottom: 12px;
}

.office a.number:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 14px;
}

.office a:last-child {
    text-decoration: underline;
}

.mar {
    margin-top: 14px;
}

.top_number {
    margin-bottom: 16px;
}

.rekvisits p:nth-child(2),
.rekvisits p:last-child {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.rekvisits p:nth-child(2) {
    width: 95%;
}

.rekvisits p:last-child {
    width: 60%;
}

.formap {
    column-gap: 27px;
}

.map {
    position: relative;
    overflow: hidden;
    max-width: 466px;
    width: 100%;
    min-height: 379px;
    max-height: 500px;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -70px;
    border: none;
}

.order {
    width: 100%;
    max-width: 467px;
}

.order h2 {
    margin-bottom: 21px;
}

.order input,
textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 11px 16px;
}

.order input::placeholder,
textarea::placeholder {
    font-size: 13px;
    line-height: 1, 6em;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

textarea {
    height: 106px;
    font-family: Arial, Helvetica, sans-serif;
}

.inp {
    display: flex;
    column-gap: 8px;
}

.checkbox {
    justify-content: flex-start;
    align-items: center;
}

.chbox {
    display: none;
}

.checkbox button {
    transition: all .5s ease-in-out;
    border-radius: 21px;
    background-color: #fd8300;
    padding: 9px 30px;
    margin-right: 32px;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.7em;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.checkbox button:hover{
    border: 1px solid #fd8300;
    background-color: #fff;
    color: #25252c;
    transform: scale(1.05);
}

.lastnews {
    font-size: 13px;
    line-height: 1.6em;
    color: #666666;
}

.chbox+.lastnews {
    position: relative;
    padding-left: 25px;
}

.chbox+.lastnews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
}

.chbox:checked + .lastnews::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 8px;
    border-top: 2px solid #1f1f56;
    border-left: 2px solid #1f1f56;
    transform: rotate(-135deg);
}